@media screen and (max-width: 768px) {
  html {
    font-size: 18px;
    .main-container {
      width: 100vw;
      min-width: 0;
      height: 100vh;
      border-radius: 0;
    }
    .left-menu {
      position: absolute;
      height: 100%;
    }
    .chat {
      width: 100%;
    }
    .search {
      padding-top: 1rem;
    }
    .user-chat-title {
      display: none;
      padding: 0 0 0.5rem 0;
    }
    .contact-container {
    }
    .chat-logout {
      top: 0.5%;
      right: 0.5%;
    }
    .user-chat-container {
      border-top: 1px solid #dbdbdb;

    }
  }

}

@media screen and (max-width: 425px) {
  html {
    font-size: 16px;

    .user-chat-box {
      padding-bottom: 2rem;
    }
    .create-room {
      padding-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 14px;
    .form-container {
      form {
        gap: 0.5rem;
        padding: 0;
        padding-bottom: 0.5rem;
      }
    }
    .create-room {
      padding-bottom: 3rem;
    }
  }
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 2rem;
    padding: 2rem 5rem;
    font-size: 4rem;
  }
  span {
    font-size: 0.8rem;
    text-align: center;
  }
}

.reg-upload-avatar {
  display: none;
}

.link-style {
  text-decoration: none;
  padding-left: 0.5rem;
  color: gray;
  transition: all 0.5s;
  &:hover {
    text-decoration: underline;
    color: #0052ff;
  }
}

.upload-avarar-form {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  &:hover {
    .settings-profile-resume-avatar-face {
      top: 55%;
    }
  }
}

.settings-profile-resume-avatar-face {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  background-color: rgba(123, 144, 189, 0.5);
  height: 45%;
  width: 100%;
  transition: top 0.3s ease;

  & > span {
    font-size: 2rem;
  }
}

.loader-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.chat-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  overflow: hidden;
}

.main-container {
  display: flex;
  width: 100%;
  min-width: 768px;
  height: 100%;
  border-radius: 1rem;
  background-color: #eeeeee;
  position: relative;
  overflow: hidden;
}
.left-menu {
  padding: 1rem;
  width: 30%;
  border-right: 1px solid #dbdbdb;
  display: flex;
  position: relative;
  width: auto;
  min-width: 330px;
  height: auto;
  background-color: #eeeeee;
  z-index: 1;
  border-radius: 20px 0 0 20px;
}
.chat {
  padding: 1rem;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.search {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}

.search-icon {
  margin-right: 0.5rem;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  svg {
    margin: 4px;
  }
}

.contact {
  overflow-x: hidden;
  height: 95%;
}

.contact-users {
  overflow-x: hidden;
  height: 95%;
}

.user-contact {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}

.selected {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.user-contact-img {
  border-radius: 50%;
  margin-right: 0.5rem;
  object-fit: cover;
}

.user-img {
  position: relative;
}

.user-online-icon {
  position: absolute;
  z-index: 1;
  color: green;
  background-color: green;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: 20%;
  top: 0;
}

.user-offline-icon {
  position: absolute;
  z-index: 1;
  color: rgb(255, 208, 0);
  background-color: rgb(255, 208, 0);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: 20%;
  top: 0;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-5%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 200ms, transform 200ms;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(5%);
  transition: opacity 200ms, transform 200ms;
}

.fade-menu-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-menu-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: opacity 200ms, transform 200ms;
}
.fade-menu-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-menu-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 200ms, transform 200ms;
}

.left-menu-mobile {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  svg {
    margin: -2px 0 0 -1px;
  }
}

.left-menu-close {
  position: absolute;
  right: 0.5%;
  top: 0.2%;
}

.rooms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 93%;
}

.create-room {
  display: flex;
  justify-content: space-between;
}

.user-room {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}
.room-img {
  padding-right: 1rem;
}

.history-transaction-item-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.history-transaction-item-enter-active {
  opacity: 1;
  transition: opacity 500ms, transform 500ms;
  transform: translateX(0%);
}
.history-transaction-item-exit {
  opacity: 0;
  transform: translateX(0%);
}
.history-transaction-item-exit-active {
  opacity: 1;
  transition: opacity 500ms, transform 500ms;
  transform: translateX(-100%);
}

.user-chat-container {
  max-height: 100%;
}

.user-chat-title {
  // padding: 1rem 0;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  height: 5%;
}

.user-chat {
  overflow-x: hidden;
  height: inherit;
  border-bottom: 1px solid #dbdbdb;
  height: 90%;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 1rem 0;
}

.message-top {
  display: flex;
  position: relative;
}

.message-container-chat {
  position: relative;
}

.message-text {
  padding: 1rem;
  border-radius: 10px;
  background-color: #6e9cff;
  font-size: 0.9rem;
  color: white;
}
.message-bottom {
  font-size: 0.7rem;
  font-size: 0.7rem;
  position: absolute;
  right: 1%;
  bottom: 0px;
}

.message.own {
  align-items: flex-end;
}

.message.own .message-text {
  background-color: #dbdbdb;
  color: black;
}

.user-chat-box {
  margin: 1rem 0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  textarea {
    font-size: 1rem;
    resize: none;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 0.3rem;
    margin: 0 0.3rem 0 0;
    border: 1px solid #9e9e9e;
    background-color: #f6f6f6;
    &:hover {
      outline: none;
    }
  }
}

.user-chat-input {
  width: 95%;
}

.user-chat-input-button {
}

.user-chat-main {
  max-height: 93vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.chat-logout {
  position: absolute;
  right: 1%;
  top: 1.5%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  svg {
    margin: 6px 4px 4px 8px;
  }
}

.welcome-chat {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
